:root {
    --color-main: #111111;
    --color-white: #f5f5f5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--color-white);
}

header {
    text-align: center;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    text-align: center;
}

footer {
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*.y.axis path {
        display: none;
}*/

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}